body {
  margin: 0;
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: #FFBFBF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu input, button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #dadada;

}
button{
  color: rgb(65, 65, 65);
  overflow: auto;
  width: 450px;
  height: 150px;
  border-radius: 10px;
}

.btn{
  height: 50px;
  width: 200px;
}

.next{
  margin-left: 180px;
}

.selected{
  background-color: #dedede56;
}

.Quiz {
  padding: 50px;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: #FFBFBF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu, .Quiz, .result h1 {
  color: white;
}

.result {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: #FFBFBF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color: rgb(49, 49, 49);
}
h1{
  color: rgb(65, 65, 65);
}
